* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* start of navigation styling */
.navigation {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 35px;
  box-shadow: 3px 0 3px #ccc;
  background-color: #fff;
  z-index: 10;
}

.nav__link__wrapper {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}
.nav__link__wrapper li > a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.nav__link__wrapper li > a:hover {
  color: #fa6400;
}

.blog__details__btn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.btn {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
}
.btn-danger {
  background-color: red;
  color: #fff;
  padding: 10px;
}

.hamburger__menu {
  display: none;
  font-size: 25px;
  cursor: pointer;
}
.auth__btns__wrapper {
  display: flex;
  gap: 2rem;
}
.logout__btn__wrapper,
.blogs {
  font-weight: 500;
  cursor: pointer;
}
/* end of navigation styling */

.blog__comments__wrapper {
  margin-top: 1rem;
  padding: 1rem 3rem;
}

.blog__details__wrapper {
  margin-top: 90px;
  text-align: center;
}
.blogs__details__card {
  padding: 1rem 3rem;
}
.blog__details__img__wrapper {
  height: 50vh;
  width: 100%;
}
.blog__details__img__wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blog__details__content__wrapper {
  margin-top: 1rem;
  text-align: left;
  width: 100%;
}
.blog__details__header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comment__wrapper {
  border-radius: 1rem;
  padding: 15px;
  border: 2px solid #ccc;
  margin: 10px 0;
}
.comment__wrapper p:nth-child(3) {
  text-align: right;
  font-size: 18px;
  font-weight: 500;
}

.comment__header__wrapper {
  margin: 10px 0;
}
@media screen and (max-width: 1270px) {
  .nav__link__wrapper {
    display: none;
  }
  .responsive__nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80px;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 1rem;
  }
  .hamburger__menu {
    display: block;
  }
  .blog__details__header__wrapper {
    flex-direction: column;
  }
}
