* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* start of navigation styling */
.navigation {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 35px;
  box-shadow: 3px 0 3px #ccc;
  background-color: #fff;
  z-index: 10;
}

.nav__link__wrapper {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}
.nav__link__wrapper li > a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.nav__link__wrapper li > a:hover {
  color: #fa6400;
}
.hamburger__menu {
  display: none;
  font-size: 25px;
  cursor: pointer;
}
.auth__btns__wrapper {
  display: flex;
  gap: 2rem;
}
.logout__btn__wrapper,
.blogs {
  font-weight: 500;
  cursor: pointer;
}
/* end of navigation styling */

.btn {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
}

.btn-primary {
  background-color: #fa6400;
  padding: 10px;
}
.btn-secondary {
  background-color: #000;
  border: 2px solid #fa6400;
  padding: 10px;
}

/* modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal__content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* modal */

/* form */
#add_new__article label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}
#add_new__article input {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 0.58rem;
  border: 1px solid #000;
}
#add_new__article textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 0.58rem;
  border: 1px solid #000;
  height: 35vh;
}
#add_new__article select {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 0.58rem;
  border: 1px solid #000;
}

.blogs__btn__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.add_new__article select {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 0.58rem;
  border: 1px solid #000;
}
/* form */

.error-msg {
  text-align: left;
  color: red;
  margin: 5px 0;
}
/* form */

.blogs__wrapper {
  margin-top: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.cards__wrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  border-radius: 1rem;
}
.cards__wrapper .card {
  overflow: hidden;
  border: 2px solid #ccc;
  width: max-content;
  max-width: 400px;
  height: max-content;
  border-radius: 1rem;
}

.card .card__img__wrapper {
  position: relative;
  z-index: 0;
  height: 30vh;
  width: 100%;
}
.card .card__img__wrapper img {
  width: 100%;
  height: 100%;
}
.card p:nth-child(1) {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.card .card__content {
  margin-top: -25px;
  position: relative;
  z-index: 1;
  background-color: #d1bfb4;
  color: #fff;
  padding: 15px;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}
#read__more {
  color: blue;
  cursor: pointer;
}
@media screen and (max-width: 1270px) {
  .nav__link__wrapper {
    display: none;
  }
  .responsive__nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80px;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 1rem;
  }
  .hamburger__menu {
    display: block;
  }
}
