* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/* start of navigation styling */
.navigation {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 35px;
  box-shadow: 3px 0 3px #ccc;
  background-color: #fff;
  z-index: 10;
}

.nav__link__wrapper {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}
.nav__link__wrapper li > a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.nav__link__wrapper li > a:hover {
  color: #fa6400;
}
.hamburger__menu {
  display: none;
  font-size: 25px;
  cursor: pointer;
}
.auth__btns__wrapper {
  display: flex;
  gap: 2rem;
}
.logout__btn__wrapper,
.blogs {
  font-weight: 500;
  cursor: pointer;
  gap: 2rem;
}
/* end of navigation styling */

.logout__btn__wrapper {
  font-weight: 500;
  cursor: pointer;
  gap: 2rem;
}

.user__details {
  margin-top: 5rem;
}

.profile__comments__wrapper {
  padding: 0 15px;
}

.profile__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  padding: 15px 0;
}

.profile__img__wrapper {
  text-align: center;
  width: fit-content;
  height: 30vh;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.profile__img__wrapper img {
  height: 100%;
}

.btn {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
}
.btn-primary {
  background-color: #fa6400;
  padding: 10px;
}

/* modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal__content {
  background-color: #fefefe;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* modal */

#add_new__comment label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}
#add_new__comment input {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 0.58rem;
  border: 1px solid #000;
}
#add_new__comment textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 0.58rem;
  border: 1px solid #000;
  height: 35vh;
}

.profile__wrapper {
  padding: 1rem 3rem;
}

.profile__content__wrapper {
  margin-top: 5.5rem;
  display: flex;
  justify-content: space-between;
}
.profile__content__wrapper > div {
  flex: 1;
  border: 1px solid #eee;
}
.profile__details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  gap: 2rem;
}

.comment__wrapper {
  border-radius: 1rem;
  padding: 15px;
  border: 2px solid #ccc;
  margin: 10px 0;
}
.comment__wrapper p:nth-child(3) {
  text-align: right;
  font-size: 18px;
  font-weight: 500;
}

.comment__header__wrapper {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1270px) {
  .nav__link__wrapper {
    display: none;
  }
  .responsive__nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80px;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 1rem;
  }
  .hamburger__menu {
    display: block;
  }
  #newsletter {
    flex-direction: column;
    padding: 1rem;
  }
  .contact__form__wrapper {
    flex-direction: column;
  }
  #banner {
    width: 100%;
    flex-direction: column;
    text-align: center;
    border: 2px solid yellow;
  }
  .hero__content {
    justify-content: center;
    align-items: center;
    /* padding: 15px; */
    width: 100%;
  }
  .hero:nth-child(1) {
    display: none;
  }
  .hero__content h1 {
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    line-height: 30px;
  }
  #whyus .whyus__content__wrapper .whyus__content {
    padding-left: 0px;
    text-align: center;
  }
  #whyus .whyus__content__wrapper {
    flex-direction: column;
  }
  .whyus__content .whyus__content__left {
    width: 100%;
  }
  .btn__wrapper {
    justify-content: center;
  }
  #footer {
    flex-direction: column;
  }
  .footer__left__bottom {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footer__left__top {
    flex-direction: column;
    flex-wrap: wrap;
  }
  #clients {
    padding: 3rem 1rem;
  }
  #clients .clients__image__wrapper .slider {
    gap: 1rem;
  }
  #clients .clients__image__wrapper img {
    width: 50px;
    height: 50px;
  }
}
